In [1]:
from sklearn import datasets
import pandas as pd

In [2]:
iris = datasets.load_iris()

In [3]:
df = pd.DataFrame(iris.data)
df.columns = ['sl','sw','pl','pw']

In [6]:
def label(val,*boundaries):
    if(val < boundaries[0]):
        return 'a'
    elif(val < boundaries[1]):
        return 'b'
    elif(val < boundaries[2]):
        return 'c'
    else:
        return 'd'
    
def toLabel(df,old_feature_name):
    second = df[old_feature_name].mean()
    minimum = df[old_feature_name].min()
    first = (second+minimum)/2
    maximum = df[old_feature_name].max()
    third = (second + maximum)/2
    return df[old_feature_name].apply(label,args=(first,second,third))

In [7]:
df['sl_labeled'] = toLabel(df,'sl')
df['sw_labeled'] = toLabel(df,'sw')
df['pl_labeled'] = toLabel(df,'pl')
df['pw_labeled'] = toLabel(df,'pw')
df

      sl   sw   pl   pw sl_labeled sw_labeled pl_labeled pw_labeled
0    5.1  3.5  1.4  0.2          b          c          a          a
1    4.9  3.0  1.4  0.2          a          b          a          a
2    4.7  3.2  1.3  0.2          a          c          a          a
3    4.6  3.1  1.5  0.2          a          c          a          a
4    5.0  3.6  1.4  0.2          a          c          a          a
..   ...  ...  ...  ...        ...        ...        ...        ...
145  6.7  3.0  5.2  2.3          c          b          c          d
146  6.3  2.5  5.0  1.9          c          a          c          d
147  6.5  3.0  5.2  2.0          c          b          c          d
148  6.2  3.4  5.4  2.3          c          c          d          d
149  5.9  3.0  5.1  1.8          c          b          c          c

[150 rows x 8 columns]

In [8]:
df.drop(['sl', 'sw', 'pl', 'pw'], axis = 1, inplace = True)

In [9]:
set(df['sl_labeled'])

{'a', 'b', 'c', 'd'}

In [10]:
def Buildtree(df,y,unused_feature):
    best_feature =""
    for f in unused_feature:
        possible_value = set(df[f])
    
    
    
    print("Best_feature",best_feature)

In [12]:
y = pd.DataFrame(iris.target)
unused_feature = set(df.columns)
Buildtree(df,y,unused_feature)

Best_feature